body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1313px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:44px;
  background:inherit;
  background-color:rgba(53, 74, 95, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(53, 74, 95, 1);
  -webkit-box-shadow:0px 1px 0px rgba(53, 74, 95, 1);
  box-shadow:0px 1px 0px rgba(53, 74, 95, 1);
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:44px;
  display:flex;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:11px;
  width:63px;
  height:24px;
  display:flex;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'72 Bold', '72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:14px;
  width:627px;
  height:16px;
  display:flex;
  font-family:'72 Bold', '72', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:5px;
  width:90px;
  height:36px;
  display:flex;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:14px;
  width:39px;
  height:20px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D1E8FF;
}
#u1414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:85px;
  width:380px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#32363A;
  text-align:left;
  line-height:19px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:150px;
  width:315px;
  height:522px;
  display:flex;
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#32363A;
  text-align:left;
  line-height:19px;
}
#u1423 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6F7275;
  text-align:right;
  line-height:16px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:169px;
  width:32px;
  height:18px;
  display:flex;
  font-size:12px;
  color:#6F7275;
  text-align:right;
  line-height:16px;
}
#u1424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6F7275;
  line-height:16px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:199px;
  width:228px;
  height:18px;
  display:flex;
  opacity:0.9;
  color:#6F7275;
  line-height:16px;
}
#u1425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:256px;
  width:22px;
  height:24px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1426 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:88px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:286px;
  width:1px;
  height:87px;
  display:flex;
}
#u1427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:69px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:409px;
  width:1px;
  height:68px;
  display:flex;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:270px;
  height:119px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:252px;
  width:254px;
  height:103px;
  display:flex;
}
#u1430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:305px;
  width:226px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:260px;
  width:226px;
  height:45px;
  display:flex;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:328px;
  width:227px;
  height:20px;
  display:flex;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:232px;
  width:315px;
  height:1px;
  display:flex;
}
#u1434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:69px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:513px;
  width:1px;
  height:68px;
  display:flex;
}
#u1435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:374px;
  width:22px;
  height:24px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1436 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:477px;
  width:22px;
  height:24px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1437 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:588px;
  width:22px;
  height:24px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1438 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:270px;
  height:119px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:366px;
  width:254px;
  height:103px;
  display:flex;
}
#u1440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:420px;
  width:226px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:374px;
  width:226px;
  height:45px;
  display:flex;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:441px;
  width:227px;
  height:20px;
  display:flex;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:270px;
  height:119px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:479px;
  width:254px;
  height:103px;
  display:flex;
}
#u1445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:532px;
  width:226px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:486px;
  width:226px;
  height:45px;
  display:flex;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:554px;
  width:227px;
  height:20px;
  display:flex;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-6px;
  width:270px;
  height:119px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:588px;
  width:254px;
  height:103px;
  display:flex;
}
#u1450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:641px;
  width:226px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#6F7275;
  text-align:left;
  line-height:20px;
}
#u1451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:596px;
  width:226px;
  height:45px;
  display:flex;
  font-size:14px;
  color:#515559;
  text-align:left;
  line-height:20px;
}
#u1452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:664px;
  width:227px;
  height:20px;
  display:flex;
  opacity:0.2;
  font-size:11px;
  color:#6F7275;
  text-align:left;
  line-height:19px;
}
#u1453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:256px;
  width:22px;
  height:22px;
  display:flex;
  font-family:'SAP-icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6F7275;
  line-height:19px;
}
#u1454 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
